$title: #3F3E3E;
$text: #332D35;
$quotes: #AD9FB9;
$violet-gray: #F1F0F5;
$logo: #655669;
$btm-hover: #656565;
$white: #ffffff;

.h1 {
    font-size: calc(36px + (54 - 36) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: calc(46px + (71 - 46) * ((100vw - 320px) / (1920 - 320)));
}
.h2 {
    font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: calc(42px + (28 - 42) * ((100vw - 320px) / (1920 - 320)));
}
.h3 {
    font-size: calc(17px + (24 - 17) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.h4 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    line-height: calc(17px + (26 - 17) * ((100vw - 320px) / (1920 - 320)));
}

.h5 {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
}
.h6 {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: calc(19px + (26 - 19) * ((100vw - 320px) / (1920 - 320)));
}
.t1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}
// .t2 {
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 26px;
// }
// .t3 {
//     font-size: 16px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 26px;
// }
.t4 {
    font-size: calc(24px + (36 - 24) * ((100vw - 360px) / (1920 - 360)));
    font-style: italic;
    font-weight: 600;
    line-height: calc(31px + (46 - 31) * ((100vw - 320px) / (1920 - 320)));
}