html,
body {
	height: 100%;
	font-family: 'Raleway';
	overflow-x: hidden;
    font-style: normal;
}
textarea{
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}


.container{
  max-width: 1140px;
  padding: 0 15px;
}


.d-flex{
	display: flex !important;
}
