.footer {
	padding: 42px 0px 32px;
	background: $logo;
    &__top {
        padding-bottom: calc(25px + (36 - 25) * ((100vw - 320px) / (1920 - 320)));
        border-bottom: 1px solid $violet-gray;
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        align-items: center;
    }
    &__phone {
        margin-bottom: 15px;
    }
    .t1,
    .h5 {
        color: $white;
    }
    .icon-phone {
        font-size: 18px;
        color: #EBE5ED;
        margin-right: 18px;
    }
    .icon-mail {
        font-size: 20px;
        color: #EBE5ED;
        margin-right: 17px;
    }
    &__social {
        color: $white;
    }
    &__join {
        margin-bottom: 15px;
    }
    &__social-link {
        font-size: 22px;
        padding: 5px 5px 0px 5px;
        border: 1px solid $white;
        transition: 0.3s;
        &:not(:first-child) {
            margin-left: 15px;
        }
    }
    &__social-telegram:hover, 
    &__social-whatsapp:hover, 
    &__social-viber:hover, 
    &__social-instagram:hover, 
    &__social-wb:hover {
        border-color: $logo;
        border-radius: 1px;
    }
    &__social-telegram:hover {
        background: #5ABAFA;
    }
    &__social-whatsapp:hover {
        background: #33B852;
    }
    &__social-viber:hover {
        background: #8D20A8;
    }
    &__social-instagram:hover {
        background: linear-gradient(39.73deg, #FCA24F -5.12%, #ED2147 32.35%, #C6278D 61.74%, #603FD0 105.97%);
    }
    &__social-wb:hover {
        background: linear-gradient(265deg, #C711A9 -6.03%, #541077 109.79%);
    }
    &__bottom {
        font-weight: normal;
        display: flex;
        justify-content: center;
        color: $violet-gray;
    }
}