$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-lock: "\e905";
$icon-arrow-down: "\e906";
$icon-phone: "\e907";
$icon-mail: "\e908";
$icon-star: "\e909";
$icon-wb: "\e900";
$icon-telegram: "\e901";
$icon-whatsapp: "\e902";
$icon-viber: "\e903";
$icon-instagram: "\e904";

