@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.eot?d672yx');
  src:  url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.eot?d672yx#iefix') format('embedded-opentype'),
    url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?d672yx') format('truetype'),
    url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?d672yx') format('woff'),
    url('../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?d672yx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-wb {
  &:before {
    content: $icon-wb; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-triangle-right {
  &:before {
    content: $icon-triangle-right; 
  }
}
.icon-triangle-left {
  &:before {
    content: $icon-triangle-left; 
  }
}
.icon-instagram-second {
  &:before {
    content: $icon-instagram-second; 
  }
}
.icon-quotes {
  &:before {
    content: $icon-quotes; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;     
    color: #40484e;
  }
}

